<main class="app-content" [ngClass]="{ 'tile loading': loading }"> 
    <div class="overlay" *ngIf="loading">
        <div class="m-loader mr-4">
            <svg class="m-circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
            </svg>
        </div>
        <h3 class="l-text">Loading</h3>
    </div>
    <div class="app-title">     
      <div>
        <h1><i class="fa fa-user fa-lg"></i> Crear Admisiones</h1>        
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a [routerLink]="['/layout/procesos/admisiones/nuevo']">Nuevo Admisión</a></li>
      </ul>
    </div>
    <div class="row" *ngIf="areErrors">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">    
                    <button class="close" type="button" data-dismiss="alert" (click)="clearAndcloseErrors()">×</button>    
                    <div *ngFor="let e of errores">
                        <strong>{{e.message}}</strong>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">  
        <div class="col-md-12">       
            <div class="tile">              
                <div class="tile-body">
                    <div class="row">     
                        <div class="form-group col-md-1" >
                            <label class="control-label">Tipo</label>    
                            <input class="form-control" type="text" name="tipoDocumento" [(ngModel)]="tipoDocumento" disabled>   
                        </div>                                                                        
                        <div class="form-group col-md-2" >
                            <label class="control-label">Identificación</label>                                
                            <input class="form-control" type="text" name="identificacion" [(ngModel)]="model.paciente.identificacion" (keydown.enter)="keytab($event)" required>                                                
                        </div>   
                        <div class="form-group col-md-3" >
                            <label class="control-label">Nombres</label>
                            <input class="form-control" type="text" name="nombres" [(ngModel)]="model.paciente.nombres" disabled>                
                        </div>          
                        <div class="form-group col-md-3" >
                            <label class="control-label">Apellidos</label>
                            <input class="form-control" type="text" name="apellidos" [(ngModel)]="model.paciente.apellidos" disabled>                
                        </div>                                                        
                        <div class="form-group col-md-3" >
                            <label class="control-label">Edad</label>                            
                            <input class="form-control" type="text" name="edad" [(ngModel)]="edad" disabled/>
                        </div>          
                    </div>      
                    <div class="row"> 
                        <div class="form-group col-md-3" >
                            <label class="control-label">Sexo</label>
                            <input class="form-control" type="text" name="sexo" [(ngModel)]="sexo" disabled/>                            
                        </div>                                                                                                                     
                        <div class="form-group col-md-3" >
                            <label class="control-label">Tipo de Entidad</label>
                            <input class="form-control" type="text" name="tipoEntidad" [(ngModel)]="tipoEntidad" disabled/>
                        </div>                                                    
                        <div class="form-group col-md-6" >
                            <label class="control-label">Aseguradora</label>
                            <input class="form-control" type="text" name="aseguradora" [(ngModel)]="aseguradora" disabled/>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Datos de Ingreso</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3" >
                            <label class="control-label">Fecha de Ingreso</label>                            
                            <input class="form-control" placeholder="dd/mm/aaaa" [textMask]="{mask: mask}" [(ngModel)]="fechaDeIngreso" type="text"/>
                        </div>                        
                        <div class="form-group col-md-3" >
                            <label class="control-label">Tipo de Atención</label>
                            <select class="form-control" [(ngModel)]="idAtencion" name="atencion">                                
                                <option *ngFor="let item of atenciones" [value]="item.idAtencion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3" >
                            <label class="control-label">Sede</label>
                            <select class="form-control" [(ngModel)]="idSede" name="sede" (change)="getCamas($event.target.value)">                                
                                <option *ngFor="let item of sedes" [value]="item.idSede">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3" >
                            <label class="control-label">Cama</label>
                            <select class="form-control" [(ngModel)]="idCama" name="cama">                                
                                <option *ngFor="let item of camas" [value]="item.idCama">{{item.nombre}}</option>
                            </select>
                        </div>            
                    </div>    
                    <div class="row">
                        <div class="form-group col-md-3" >
                            <label class="control-label">Médico</label>
                            <select class="form-control" [(ngModel)]="idMedico" name="medico">                                
                                <option *ngFor="let item of medicos" [value]="item.idUsuario">{{item.nombres}} {{item.apellidos}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3" >
                            <label class="control-label">Enfermería</label>
                            <select class="form-control" [(ngModel)]="idEnfermero" name="enfermero">                                
                                <option *ngFor="let item of enfermeros" [value]="item.idUsuario">{{item.nombres}} {{item.apellidos}}</option>
                            </select>
                        </div>
                    </div>               
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Datos de Remisión</h5>
                            </div>
                        </div>
                        <div class="form-group col-md-3" >
                            <label class="control-label">Fecha de Remisión</label>                            
                            <input class="form-control" placeholder="dd/mm/aaaa" [textMask]="{mask: mask}" [(ngModel)]="fechaDeRemision" type="text"/>
                        </div>
                        <div class="form-group col-md-3" >
                            <label class="control-label">Número</label>                                
                            <input class="form-control" type="text" name="numeroRemision" [(ngModel)]="model.numeroRemision" #numeroRemision="ngModel" required>                                                
                        </div>  
                        <div class="form-group col-md-3" >
                            <label class="control-label">Acompañante</label>                                
                            <input class="form-control" type="text" name="acompanante" [(ngModel)]="model.acompanante" #acompanante="ngModel" required>                                                
                        </div>          
                        <div class="form-group col-md-3" >
                            <label class="control-label">Parentesco</label>
                            <select class="form-control" [(ngModel)]="idParentesco" name="parentesco">                                
                                <option *ngFor="let item of parentescos" [value]="item.idParentesco">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3" >
                            <label class="control-label">Dirección</label>
                            <input class="form-control" type="text" name="direccionAcompanante" [(ngModel)]="model.direccionAcompanante" #direccionAcompanante="ngModel" required>                
                        </div>          
                        <div class="form-group col-md-3" >
                            <label class="control-label">Telefono</label>
                            <input class="form-control" type="text" name="telefonoAcompanante" [(ngModel)]="model.telefonoAcompanante" #telefonoAcompanante="ngModel" required>                
                        </div>  
                        <div class="form-group col-md-3" >
                            <label class="control-label">Ciudad Residencia</label>
                            <input class="form-control" type="text" name="ciudadAcompanante" [(ngModel)]="model.ciudadAcompanante" #ciudadAcompanante="ngModel" required>                
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12" >
                            <label class="control-label">Diagnostico Principal</label>                            
                            <ng-template #rt let-r="result" let-t="term">
                                ({{r.codigo}}) {{r.nombre}}
                            </ng-template>
                            <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" 
                                    [(ngModel)]="diagnosticoPrincipal" [ngbTypeahead]="search" placeholder="Cie10" 
                                    [resultTemplate]="rt" [inputFormatter]="formatter"/>
                            <span *ngIf="searching">Buscando...</span>
                            <div class="invalid-feedback" *ngIf="searchFailed">No se encontró ningún Cie10.</div>                                                     
                        </div>        
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12" >
                            <label class="control-label">Diagnostico Secundario</label>                            
                            <ng-template #rtSecundario let-r="result" let-t="term">
                                ({{r.codigo}}) {{r.nombre}}
                            </ng-template>
                            <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailedSecundario" 
                                    [(ngModel)]="diagnosticoSecundario" [ngbTypeahead]="searchSecundario" placeholder="Cie10" 
                                    [resultTemplate]="rtSecundario" [inputFormatter]="formatterSecundario"/>
                            <span *ngIf="searchingSecundario">Buscando...</span>
                            <div class="invalid-feedback" *ngIf="searchFailedSecundario">No se encontró ningún Cie10.</div>  
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-4 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="guardar()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</main>