<main class="app-content" [ngClass]="{ 'tile loading': loading }"> 
    <div class="overlay" *ngIf="loading">
        <div class="m-loader mr-4">
            <svg class="m-circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
            </svg>
        </div>
        <h3 class="l-text">Loading</h3>
    </div>
    <div class="app-title">     
      <div>
        <h1><i class="fa fa-user fa-lg"></i> Crear Historia</h1>        
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a [routerLink]="['/layout/procesos/historias/nuevo']">Nuevo Historia</a></li>
      </ul>
    </div>
    <div class="row" *ngIf="areErrors">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">    
                    <button class="close" type="button" data-dismiss="alert" (click)="clearAndcloseErrors()">×</button>    
                    <div *ngFor="let e of errores">
                        <strong>{{e.message}}</strong>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">  
        <div class="col-md-12">       
            <div class="tile">              
                <div class="tile-body">
                    <div class="row">     
                        <div class="form-group col-md-1" >
                            <label class="control-label">Tipo</label>    
                            <input class="form-control" type="text" name="tipoDocumento" [(ngModel)]="tipoDocumento" disabled>   
                        </div>                                                                        
                        <div class="form-group col-md-2" >
                            <label class="control-label">Identificación</label>                                
                            <input class="form-control" type="text" name="identificacion" [(ngModel)]="model.admision.paciente.identificacion" (keydown.enter)="keytab($event)" required>                                                
                        </div>   
                        <div class="form-group col-md-3" >
                            <label class="control-label">Nombres</label>
                            <input class="form-control" type="text" name="nombres" [(ngModel)]="model.admision.paciente.nombres" disabled>                
                        </div>          
                        <div class="form-group col-md-3" >
                            <label class="control-label">Apellidos</label>
                            <input class="form-control" type="text" name="apellidos" [(ngModel)]="model.admision.paciente.apellidos" disabled>                
                        </div>                                                        
                        <div class="form-group col-md-3" >
                            <label class="control-label">Edad</label>                            
                            <input class="form-control" type="text" name="edad" [(ngModel)]="edad" disabled/>
                        </div>          
                    </div>      
                    <div class="row"> 
                        <div class="form-group col-md-3" >
                            <label class="control-label">Sexo</label>
                            <input class="form-control" type="text" name="sexo" [(ngModel)]="sexo" disabled/>                            
                        </div>                                                                                                                     
                        <div class="form-group col-md-3" >
                            <label class="control-label">Tipo de Entidad</label>
                            <input class="form-control" type="text" name="tipoEntidad" [(ngModel)]="tipoEntidad" disabled/>
                        </div>                                                    
                        <div class="form-group col-md-6" >
                            <label class="control-label">Aseguradora</label>
                            <input class="form-control" type="text" name="aseguradora" [(ngModel)]="aseguradora" disabled/>
                        </div>  
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Motivo de la consulta</h5>
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.motivoConsulta"></textarea>
                            </div>
                        </div>  
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Enfermedad actual</h5>                            
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.enfermedadActual"></textarea>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Antecedentes Personales</h5>                                
                            </div>                            
                        </div>                                                
                    </div>    
                    <h6>Patologicos Psiquiatricos</h6>
                    <div class="row">
                        <label class="control-label col-md-1">Patologia</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="patologicoPsiquiatrico1" [(ngModel)]="model.patologicoPsiquiatrico1"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idEstadoPatologicoPsiquiatrico1" name="estadoPatologicoPsiquiatrico1">                                
                                <option *ngFor="let item of estados" [value]="item.idEstado">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucionPatologicoPsiquiatrico1" [(ngModel)]="model.tiempoEvolucionPatologicoPsiquiatrico1" placeholder="Tiempo de evolución"/>
                        </div>
                    </div>               
                    <div class="row">
                        <label class="control-label col-md-1">Patologia</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="patologicoPsiquiatrico2" [(ngModel)]="model.patologicoPsiquiatrico2"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idEstadoPatologicoPsiquiatrico2" name="estadoPatologicoPsiquiatrico2">                                
                                <option *ngFor="let item of estados" [value]="item.idEstado">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucionPatologicoPsiquiatrico2" [(ngModel)]="model.tiempoEvolucionPatologicoPsiquiatrico2" placeholder="Tiempo de evolución"/>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <label class="control-label col-md-1">Patologia</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="patologicoPsiquiatrico3" [(ngModel)]="model.patologicoPsiquiatrico3"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idEstadoPatologicoPsiquiatrico3" name="estadoPatologicoPsiquiatrico3">                                
                                <option *ngFor="let item of estados" [value]="item.idEstado">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucionPatologicoPsiquiatrico3" [(ngModel)]="model.tiempoEvolucionPatologicoPsiquiatrico3" placeholder="Tiempo de evolución"/>
                        </div>
                    </div> 
                    <h6>Patologicos No Psiquiatricos</h6>
                    <div class="row">
                        <label class="control-label col-md-1">Patologia</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="patologicoNoPsiquiatrico1" [(ngModel)]="model.patologicoNoPsiquiatrico1"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idEstadoPatologicoNoPsiquiatrico1" name="estadoPatologicoNoPsiquiatrico1">                                
                                <option *ngFor="let item of estados" [value]="item.idEstado">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucionPatologicoNoPsiquiatrico1" [(ngModel)]="model.tiempoEvolucionPatologicoNoPsiquiatrico1" placeholder="Tiempo de evolución"/>
                        </div>
                    </div>               
                    <div class="row">
                        <label class="control-label col-md-1">Patologia</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="patologicoNoPsiquiatrico2" [(ngModel)]="model.patologicoNoPsiquiatrico2"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idEstadoPatologicoNoPsiquiatrico2" name="estadoPatologicoNoPsiquiatrico2">                                
                                <option *ngFor="let item of estados" [value]="item.idEstado">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucionPatologicoNoPsiquiatrico2" [(ngModel)]="model.tiempoEvolucionPatologicoNoPsiquiatrico2" placeholder="Tiempo de evolución"/>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <label class="control-label col-md-1">Patologia</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="patologicoNoPsiquiatrico3" [(ngModel)]="model.patologicNoPsiquiatrico3"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idEstadoPatologicoNoPsiquiatrico3" name="estadoPatologicoNoPsiquiatrico3">                                
                                <option *ngFor="let item of estados" [value]="item.idEstado">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucionPatologicoNoPsiquiatrico3" [(ngModel)]="model.tiempoEvolucionPatologicoNoPsiquiatrico3" placeholder="Tiempo de evolución"/>
                        </div>
                    </div> 
                    <h6>Psiquiatricas</h6>
                    <div class="row">
                        <div class="form-group col-md-3" >
                            <label class="control-label">Número</label>    
                            <input class="form-control" type="text" name="numeroPsiquiatrica" [(ngModel)]="model.numeroPsiquiatrica">   
                        </div>                                                                        
                        <div class="form-group col-md-3" >
                            <label class="control-label">Institución</label>                                
                            <input class="form-control" type="text" name="institucionPsiquiatrica" [(ngModel)]="model.institucionPsiquiatrica" >                                                
                        </div>   
                        <div class="form-group col-md-3" >
                            <label class="control-label">Fecha última hospitalización</label>
                            <input class="form-control" type="text" name="fechaUltimaHospitalizacionPsiquiatrica" [(ngModel)]="model.fechaUltimaHospitalizacionPsiquiatrica">                
                        </div>          
                        <div class="form-group col-md-3" >
                            <label class="control-label">¿Es la primera hospitalización?</label>
                            <select class="form-control" [(ngModel)]="idEsLaPrimeraHospitalizacionPsiquiatrica" name="esLaPrimeraHospitalizacionPsiquiatrica">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>                            
                        </div>                                                                                
                    </div>
                    <h6>No Psiquiatricas</h6>
                    <div class="row">
                        <div class="form-group col-md-3" >
                            <label class="control-label">Número</label>    
                            <input class="form-control" type="text" name="numeroNoPsiquiatrica" [(ngModel)]="model.numeroNoPsiquiatrica">   
                        </div>                                                                        
                        <div class="form-group col-md-3" >
                            <label class="control-label">Institución</label>                                
                            <input class="form-control" type="text" name="institucionNoPsiquiatrica" [(ngModel)]="model.institucionNoPsiquiatrica" >                                                
                        </div>   
                        <div class="form-group col-md-3" >
                            <label class="control-label">Fecha última hospitalización</label>
                            <input class="form-control" type="text" name="fechaUltimaHospitalizacionNoPsiquiatrica" [(ngModel)]="model.fechaUltimaHospitalizacionNoPsiquiatrica">                
                        </div>                                  
                    </div>
                    <h6>Alergicos</h6>
                    <div class="row">
                        <div class="form-group col-md-3" >
                            <label class="control-label">Tipo de reacción</label>    
                            <input class="form-control" type="text" name="tipoReaccion" [(ngModel)]="model.tipoReaccion">   
                        </div>                                                                        
                        <div class="form-group col-md-3" >
                            <label class="control-label">Sustancias</label>                                
                            <input class="form-control" type="text" name="sustancias" [(ngModel)]="model.sustancias" >                                                
                        </div>   
                    </div>
                    <h6>Traumaticos</h6>
                    <div class="row">                            
                        <label class="control-label col-md-3">Trauma</label>
                        <label class="control-label col-md-3">Tiempo de evolución</label>
                        <label class="control-label col-md-3">Compromiso de conciencia</label>
                        <label class="control-label col-md-3">Secuelas</label>
                    </div>
                    <div class="form-group row">                        
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="trauma1" [(ngModel)]="model.trauma1"/>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucion1" [(ngModel)]="model.tiempoEvolucion1"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idCompromisoConciencia1" name="idCompromisoConciencia1">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="secuelas1" [(ngModel)]="model.secuelas1"/>
                        </div>
                    </div> 
                    <div class="form-group row">                        
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="trauma2" [(ngModel)]="model.trauma2"/>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucion2" [(ngModel)]="model.tiempoEvolucion2"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idCompromisoConciencia2" name="idCompromisoConciencia2">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="secuelas2" [(ngModel)]="model.secuelas2"/>
                        </div>
                    </div> 
                    <div class="form-group row">                        
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="trauma3" [(ngModel)]="model.trauma3"/>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucion3" [(ngModel)]="model.tiempoEvolucion3"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idCompromisoConciencia1" name="idCompromisoConciencia1">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="secuelas3" [(ngModel)]="model.secuelas3"/>
                        </div>
                    </div> 
                    <div class="form-group row">                        
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="trauma4" [(ngModel)]="model.trauma4"/>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucion4" [(ngModel)]="model.tiempoEvolucion4"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idCompromisoConciencia4" name="idCompromisoConciencia4">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="secuelas4" [(ngModel)]="model.secuelas4"/>
                        </div>
                    </div> 
                    <div class="form-group row">                        
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="trauma5" [(ngModel)]="model.trauma5"/>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="tiempoEvolucion5" [(ngModel)]="model.tiempoEvolucion5"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="idCompromisoConciencia5" name="idCompromisoConciencia5">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="secuelas5" [(ngModel)]="model.secuelas5"/>
                        </div>
                    </div> 
                    <h6>Farmacologicos</h6>
                    <div class="row">                            
                        <label class="control-label col-md-4">Medicamentos</label>
                        <label class="control-label col-md-2">Dosis</label>
                        <label class="control-label col-md-2">Tiempo de uso</label>
                        <label class="control-label col-md-2">Eficacia</label>
                        <label class="control-label col-md-2">E. Adverso</label>
                    </div>
                    <div class="form-group row">                        
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="medicamentos1" [(ngModel)]="model.medicamentos1"/>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" name="dosis1" [(ngModel)]="model.dosis1"/>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idTiempoDeUso1" name="idTiempoDeUso1">                                
                                <option *ngFor="let item of tiemposDeUsos" [value]="item.idTiempoDeUso">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idEficacia1" name="idEficacia1">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idEAdverso1" name="idEAdverso1">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group row">                        
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="medicamentos2" [(ngModel)]="model.medicamentos2"/>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" name="dosis2" [(ngModel)]="model.dosis2"/>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idTiempoDeUso2" name="idTiempoDeUso2">                                
                                <option *ngFor="let item of tiemposDeUsos" [value]="item.idTiempoDeUso">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idEficacia2" name="idEficacia2">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idEAdverso2" name="idEAdverso2">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group row">                        
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="medicamentos3" [(ngModel)]="model.medicamentos3"/>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" name="dosis3" [(ngModel)]="model.dosis3"/>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idTiempoDeUso3" name="idTiempoDeUso3">                                
                                <option *ngFor="let item of tiemposDeUsos" [value]="item.idTiempoDeUso">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idEficacia3" name="idEficacia3">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idEAdverso3" name="idEAdverso3">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group row">                        
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="medicamentos4" [(ngModel)]="model.medicamentos4"/>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" name="dosis4" [(ngModel)]="model.dosis4"/>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idTiempoDeUso4" name="idTiempoDeUso4">                                
                                <option *ngFor="let item of tiemposDeUsos" [value]="item.idTiempoDeUso">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idEficacia4" name="idEficacia4">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idEAdverso4" name="idEAdverso4">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group row">                        
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="medicamentos5" [(ngModel)]="model.medicamentos5"/>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" name="dosis5" [(ngModel)]="model.dosis5"/>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idTiempoDeUso5" name="idTiempoDeUso5">                                
                                <option *ngFor="let item of tiemposDeUsos" [value]="item.idTiempoDeUso">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idEficacia5" name="idEficacia5">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" [(ngModel)]="idEAdverso5" name="idEAdverso5">                                
                                <option *ngFor="let item of opciones" [value]="item.idOpcion">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Antecedentes Familiares</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Examen Físico</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Impresión Diagnostica</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Analisis y Manejo</h5>
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.analisisYManejo"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-4 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="guardar()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</main>