<main class="app-content" [ngClass]="{ 'tile loading': loading }"> 
    <div class="overlay" *ngIf="loading">
        <div class="m-loader mr-4">
            <svg class="m-circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
            </svg>
        </div>
        <h3 class="l-text">Loading</h3>
    </div>
    <div class="app-title">     
      <div>
        <h1><i class="fa fa-user fa-lg"></i> Crear Historia</h1>        
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a [routerLink]="['/layout/procesos/historias/nuevo']">Nuevo Historia</a></li>
      </ul>
    </div>
    <div class="row" *ngIf="areErrors">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">    
                    <button class="close" type="button" data-dismiss="alert" (click)="clearAndcloseErrors()">×</button>    
                    <div *ngFor="let e of errores">
                        <strong>{{e.message}}</strong>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">  
        <div class="col-md-12">       
            <div class="tile">              
                <div class="tile-body">
                    <div class="row">     
                        <div class="form-group col-md-1" >
                            <label class="control-label">Tipo</label>    
                            <input class="form-control" type="text" name="tipoDocumento" [(ngModel)]="tipoDocumento" disabled>   
                        </div>                                                                        
                        <div class="form-group col-md-2" >
                            <label class="control-label">Identificación</label>                                
                            <input class="form-control" type="text" name="identificacion" [(ngModel)]="model.admision.paciente.identificacion" (keydown.enter)="keytab($event)" required>                                                
                        </div>   
                        <div class="form-group col-md-3" >
                            <label class="control-label">Nombres</label>
                            <input class="form-control" type="text" name="nombres" [(ngModel)]="model.admision.paciente.nombres" disabled>                
                        </div>          
                        <div class="form-group col-md-3" >
                            <label class="control-label">Apellidos</label>
                            <input class="form-control" type="text" name="apellidos" [(ngModel)]="model.admision.paciente.apellidos" disabled>                
                        </div>                                                        
                        <div class="form-group col-md-3" >
                            <label class="control-label">Edad</label>                            
                            <input class="form-control" type="text" name="edad" [(ngModel)]="edad" disabled/>
                        </div>          
                    </div>      
                    <div class="row"> 
                        <div class="form-group col-md-3" >
                            <label class="control-label">Sexo</label>
                            <input class="form-control" type="text" name="sexo" [(ngModel)]="sexo" disabled/>                            
                        </div>                                                                                                                     
                        <div class="form-group col-md-3" >
                            <label class="control-label">Tipo de Entidad</label>
                            <input class="form-control" type="text" name="tipoEntidad" [(ngModel)]="tipoEntidad" disabled/>
                        </div>                                                    
                        <div class="form-group col-md-6" >
                            <label class="control-label">Aseguradora</label>
                            <input class="form-control" type="text" name="aseguradora" [(ngModel)]="aseguradora" disabled/>
                        </div>  
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Motivo de la consulta</h5>
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.motivoConsulta"></textarea>
                            </div>
                        </div>  
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Enfermedad actual</h5>                            
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.enfermedadActual"></textarea>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Antecedentes Personales</h5>                                
                            </div>                            
                        </div>                                                
                    </div>  
                    <h6>Patologicos</h6>
                    <div class="row">
                        <div class="form-group col-md-2" >
                            <label class="control-label">Tipo</label>    
                            <select class="form-control" [(ngModel)]="idtipoPatologia" name="idTipoPatologia">                                
                                <option value="PATOLOGICO">PATOLOGICO</option>
                                <option value="NO PATOLOGICO">NO PATOLOGICO</option>
                            </select>
                        </div>                                                                                                
                        <div class="form-group col-md-4" >
                            <label class="control-label">Nombre</label>
                            <input class="form-control" type="text" name="descripcion" [(ngModel)]="descripcion"/>
                        </div>                                                                                                                    
                        <div class="col-md-2" >
                            <label class="control-label">Tiempo de evolución</label>
                            <input class="form-control" type="text" name="tiempoEvolucion" [(ngModel)]="tiempoEvolucion"/>
                        </div>                                                                            
                        <div class="col-md-2">
                            <label class="control-label">Estado</label>
                            <select class="form-control" [(ngModel)]="estadoPatologico" name="estadoPatologico">                                
                                <option *ngFor="let item of estados" [ngValue]="item">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="addPatologico()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Añadir</button>
                        </div>
                    </div>    

                    <div class="row">                        
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Nombre</th>
                                        <th>Timpo de evolución</th>                                
                                        <th>Estado</th>                                                    
                                        <th>Eliminar</th>          
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let patologico of patologicos; let i = index">                  
                                        <td class="rowTd">{{patologico.tipo}}</td>    
                                        <td class="rowTd">{{patologico.descripcion}}</td>
                                        <td class="rowTd">{{patologico.tiempoEvolucion}}</td>
                                        <td class="rowTd">{{patologico.estado.nombre}}</td>                                                                        
                                        <td class="rowTd" >                                      
                                            <a class="btn float-left" (click)="deletePatologico(i)"><i class="fa fa-times"></i></a>                  
                                        </td>       
                                    </tr>            
                                </tbody>                            
                            </table>                              
                        </div>
                    </div>
                    <h6>Hospitalización</h6>
                    <div class="row">  
                        <div class="form-group col-md-2" >
                            <label class="control-label">Tipo</label>    
                            <select class="form-control" [(ngModel)]="idtipoAntecente" name="idtipoAntecente">                                
                                <option value="PSIQUIATRICA">PSIQUIATRICA</option>
                                <option value="NO PSIQUIATRICA">NO PSIQUIATRICA</option>
                            </select>
                        </div>                                                     
                        <div class="form-group col-md-3" >
                            <label class="control-label">Institución</label>
                            <input class="form-control" type="text" name="institucion" [(ngModel)]="institucion"/>
                        </div> 
                        <div class="form-group col-md-1" >
                            <label class="control-label">Número</label>
                            <input class="form-control" type="text" name="numero" [(ngModel)]="numero"/>
                        </div>                                                                                                                    
                        <div class="form-group col-md-2" >
                            <label class="control-label">Última</label>                            
                            <input class="form-control" placeholder="dd/mm/aaaa" [textMask]="{mask: mask}" [(ngModel)]="fechaUltimaHospitalizacion" type="text"/>
                        </div>                                                                                     
                        <div class="col-md-2">
                            <label class="control-label">Primera vez?</label>
                            <select class="form-control" [(ngModel)]="primeraHospitalizacion" name="primeraHospitalizacion">                                
                                <option *ngFor="let item of opciones" [ngValue]="item">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="addAntecedente()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Añadir</button>
                        </div>
                    </div>                        
                    <div class="row">                        
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Institución</th>
                                        <th>Número</th>
                                        <th>Fecha última hospitalización</th>                                
                                        <th>Primera hospitalización?</th>                                                    
                                        <th>Eliminar</th>          
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let antecedente of antecedentes; let i = index">                  
                                        <td class="rowTd">{{antecedente.tipo}}</td>        
                                        <td class="rowTd">{{antecedente.institucion}}</td>    
                                        <td class="rowTd">{{antecedente.numero}}</td>
                                        <td class="rowTd">{{antecedente.fechaUltimaHospitalizacion | date: 'dd/MM/yyyy'}}</td>
                                        <td class="rowTd">{{antecedente.esLaPrimeraHospitalizacion.nombre}}</td>                                                                        
                                        <td class="rowTd" >                                      
                                            <a class="btn float-left" (click)="deleteAntecedente(i)"><i class="fa fa-times"></i></a>                  
                                        </td>       
                                    </tr>            
                                </tbody>                            
                            </table>                              
                        </div>
                    </div>
                    <h6>Alergicos</h6>
                    <div class="row">  
                        <div class="form-group col-md-6" >
                            <label class="control-label">Tipo de reacción</label>                                
                            <input class="form-control" type="text" name="tipoReaccion" [(ngModel)]="model.tipoReaccion"/>
                        </div>                                                     
                        <div class="form-group col-md-6" >
                            <label class="control-label">Sustancias</label>
                            <input class="form-control" type="text" name="model.sustancias" [(ngModel)]="model.sustancias"/>
                        </div> 
                    </div>
                    <h6>Traumaticos</h6>                    
                    <div class="row"> 
                        <div class="form-group col-md-3" >
                            <label class="control-label">Trauma</label>
                            <input class="form-control" type="text" name="trauma" [(ngModel)]="trauma"/>
                        </div> 
                        <div class="form-group col-md-2" >
                            <label class="control-label">Tiempo evolución</label>
                            <input class="form-control" type="text" name="tiempoEvolucionTraumatico" [(ngModel)]="tiempoEvolucionTraumatico"/>
                        </div> 
                        <div class="form-group col-md-3" >
                            <label class="control-label">Secuelas</label>
                            <input class="form-control" type="text" name="secuelas" [(ngModel)]="secuelas"/>
                        </div> 
                        <div class="col-md-2">
                            <label class="control-label">Compromiso conciencia</label>
                            <select class="form-control" [(ngModel)]="compromisoConciencia" name="compromisoConciencia">                                
                                <option *ngFor="let item of opciones" [ngValue]="item">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="addTraumatico()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Añadir</button>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Trauma</th>
                                        <th>Tiempo de evolución</th>
                                        <th>Secuelas</th>
                                        <th>Compromiso conciencia</th>                                                                        
                                        <th>Eliminar</th>          
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let traumatico of traumaticos; let i = index">                  
                                        <td class="rowTd">{{traumatico.trauma}}</td>        
                                        <td class="rowTd">{{traumatico.tiempoEvolucion}}</td>    
                                        <td class="rowTd">{{traumatico.secuelas}}</td>
                                        <td class="rowTd">{{traumatico.compromisoConciencia.nombre}}</td>                                        
                                        <td class="rowTd" >                                      
                                            <a class="btn float-left" (click)="deleteTraumatico(i)"><i class="fa fa-times"></i></a>                  
                                        </td>       
                                    </tr>            
                                </tbody>                            
                            </table>                              
                        </div>
                    </div>
                    <h6>Farmacologicos</h6>                    
                    <div class="row"> 
                        <div class="form-group col-md-2" >
                            <label class="control-label">Medicamento</label>
                            <input class="form-control" type="text" name="medicamento" [(ngModel)]="medicamento"/>
                        </div> 
                        <div class="form-group col-md-2" >
                            <label class="control-label">Dosis</label>
                            <input class="form-control" type="text" name="dosis" [(ngModel)]="dosis"/>
                        </div> 
                        <div class="col-md-2">
                            <label class="control-label">Tiempo de uso</label>
                            <select class="form-control" [(ngModel)]="tiempoDeUso" name="tiempoDeUso">                                
                                <option *ngFor="let item of tiemposDeUsos" [ngValue]="item">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Eficacia</label>
                            <select class="form-control" [(ngModel)]="eficacia" name="eficacia">                                
                                <option *ngFor="let item of opciones" [ngValue]="item">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">E. Adverso</label>
                            <select class="form-control" [(ngModel)]="esAdverso" name="esAdverso">                                
                                <option *ngFor="let item of opciones" [ngValue]="item">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="addFarmacologico()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Añadir</button>
                        </div> 
                    </div>
                    <div class="row">                        
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Medicamento</th>
                                        <th>Dosis</th>
                                        <th>Tiempo Uso</th>   
                                        <th>Eficacia</th>
                                        <th>E. Adverso</th>                              
                                        <th>Eliminar</th>          
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let farmacologico of farmacologicos; let i = index">                  
                                        <td class="rowTd">{{farmacologico.medicamento}}</td>        
                                        <td class="rowTd">{{farmacologico.dosis}}</td>    
                                        <td class="rowTd">{{farmacologico.tiempoDeUso.nombre}}</td>                                                                        
                                        <td class="rowTd">{{farmacologico.eficacia.nombre}}</td>
                                        <td class="rowTd">{{farmacologico.esAdverso.nombre}}</td>
                                        <td class="rowTd" >                                      
                                            <a class="btn float-left" (click)="deleteFarmacologico(i)"><i class="fa fa-times"></i></a>                  
                                        </td>       
                                    </tr>            
                                </tbody>                            
                            </table>                              
                        </div>
                    </div>
                    <h6>Toxicos</h6>                    
                    <div class="row"> 
                        <div class="form-group col-md-2" >
                            <label class="control-label">Sustancia</label>
                            <select class="form-control" [(ngModel)]="sustancia" name="sustancia">                                                                
                                <option value="CIGARRILLO">CIGARRILLO</option>
                                <option value="ALCOHOL">ALCOHOL</option>
                                <option value="MARIHUANA">MARIHUANA</option>
                                <option value="OPIOIDES">OPIOIDES</option>
                                <option value="COCAINA">COCAINA</option>
                                <option value="BENZODIACEPINAS">BENZODIACEPINAS</option>
                            </select>
                        </div> 
                        <div class="form-group col-md-2" >
                            <label class="control-label">Cantidad</label>
                            <input class="form-control" type="text" name="cantidad" [(ngModel)]="cantidad"/>
                        </div> 
                        <div class="form-group col-md-3" >
                            <label class="control-label">Frecuencia</label>
                            <input class="form-control" type="text" name="frecuencia" [(ngModel)]="frecuencia"/>
                        </div> 
                        <div class="form-group col-md-3" >
                            <label class="control-label">Edad Inicio</label>
                            <input class="form-control" type="text" name="edadInicio" [(ngModel)]="edadInicio"/>
                        </div> 
                        <div class="form-group col-md-2 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="addToxico()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Añadir</button>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Sustancia</th>
                                        <th>Cantidad</th>
                                        <th>Frecuencia</th>
                                        <th>Edad Inicio</th>                                                                        
                                        <th>Eliminar</th>          
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let toxico of toxicos; let i = index">                  
                                        <td class="rowTd">{{toxico.sustancia}}</td>        
                                        <td class="rowTd">{{toxico.cantidad}}</td>    
                                        <td class="rowTd">{{toxico.frecuencia}}</td>
                                        <td class="rowTd">{{toxico.edadInicio}}</td>                                        
                                        <td class="rowTd" >                                      
                                            <a class="btn float-left" (click)="deleteToxico(i)"><i class="fa fa-times"></i></a>                  
                                        </td>       
                                    </tr>            
                                </tbody>                            
                            </table>                              
                        </div>
                    </div>
                    <h6>Gineco Obstetricios</h6>                    
                    <div class="row"> 
                        <div class="form-group col-md-2" >
                            <label class="control-label">Gestas</label>
                            <select class="form-control" [(ngModel)]="gesta" name="gesta">                                                                
                                <option *ngFor="let item of gestasCombo" [ngValue]="item">{{item.nombre}}</option>
                            </select>
                        </div> 
                        <div class="form-group col-md-2" >
                            <label class="control-label">Partos</label>
                            <select class="form-control" [(ngModel)]="partos" name="partos">                                                                
                                <option value="NORMAL">NORMAL</option>
                                <option value="ANORMAL">ANORMAL</option>
                            </select>
                        </div> 
                        <div class="form-group col-md-2" >
                            <label class="control-label">Abortos</label>
                            <select class="form-control" [(ngModel)]="abortos" name="abortos">                                                                
                                <option value="NORMAL">NORMAL</option>
                                <option value="ANORMAL">ANORMAL</option>
                            </select>
                        </div> 
                        <div class="col-md-2">
                            <label class="control-label">Embarazo actual</label>
                            <select class="form-control" [(ngModel)]="embarazoActual" name="embarazoActual">                                
                                <option *ngFor="let item of opciones" [ngValue]="item">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-1" >
                            <label class="control-label">Semanas</label>
                            <input class="form-control" placeholder="00.0" [textMask]="{mask: semanasMask}" [(ngModel)]="semanas" type="text"/>
                        </div>
                        <div class="form-group col-md-1" >
                            <label class="control-label">Menarquias</label>
                            <input class="form-control" type="text" name="menarquias" [(ngModel)]="menarquias"/>
                        </div>
                        <div class="form-group col-md-2" >
                            <label class="control-label">FUM</label>                            
                            <input class="form-control" placeholder="dd/mm/aaaa" [textMask]="{mask: mask}" [(ngModel)]="fum" type="text"/>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Podromos y Personal Premorbida</h5>
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.podromosPersonalPremorbida"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Antecedentes Familiares</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h6>Psiquiatricos</h6>                                                   
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.antecedentesFamiliaresPsiquiatricos"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h6>No Psiquiatricos</h6>                   
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.antecedentesFamiliaresNoPsiquiatricos"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Examen Físico</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Impresión Diagnostica</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12" >
                            <label class="control-label">Impresión Diagnostica</label>                            
                            <ng-template #rt let-r="result" let-t="term">
                                ({{r.codigo}}) {{r.nombre}}
                            </ng-template>
                            <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" 
                                    [(ngModel)]="impresionDiagnostica" [ngbTypeahead]="search" placeholder="Cie10" 
                                    [resultTemplate]="rt" [inputFormatter]="formatter"/>
                            <span *ngIf="searching">Buscando...</span>
                            <div class="invalid-feedback" *ngIf="searchFailed">No se encontró ningún Cie10.</div>                                                     
                        </div>        
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Analisis y Manejo</h5>
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.analisisManejo"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">  
                        <div class="form-group col-md-6" >
                            <label class="control-label">Medico</label>                                
                            <select class="form-control" [(ngModel)]="medico" name="medico">                                
                                <option *ngFor="let item of medicos" [ngValue]="item.idUsuario">{{item.nombres}} {{item.apellidos}}</option>
                            </select>
                        </div>                                                     
                        <div class="form-group col-md-6" >
                            <label class="control-label">Autoriza</label>
                            <select class="form-control" [(ngModel)]="autoriza" name="autoriza">                                
                                <option *ngFor="let item of psiquiatras" [ngValue]="item.idUsuario">{{item.nombres}} {{item.apellidos}}</option>
                            </select>
                        </div> 
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-4 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="guardar()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</main>