<main class="app-content" [ngClass]="{ 'tile loading': loading }"> 
    <div class="overlay" *ngIf="loading">
        <div class="m-loader mr-4">
            <svg class="m-circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
            </svg>
        </div>
        <h3 class="l-text">Loading</h3>
    </div>
    <div class="app-title">     
      <div>
        <h1><i class="fa fa-user fa-lg"></i> Crear Historia</h1>        
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a [routerLink]="['/layout/procesos/historias/nuevo']">Nuevo Historia</a></li>
      </ul>
    </div>
    <div class="row" *ngIf="areErrors">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">    
                    <button class="close" type="button" data-dismiss="alert" (click)="clearAndcloseErrors()">×</button>    
                    <div *ngFor="let e of errores">
                        <strong>{{e.message}}</strong>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">  
        <div class="col-md-12">       
            <div class="tile">              
                <div class="tile-body">
                    <div class="row">     
                        <div class="form-group col-md-1" >
                            <label class="control-label">Tipo</label>    
                            <input class="form-control" type="text" name="tipoDocumento" [(ngModel)]="tipoDocumento" disabled>   
                        </div>                                                                        
                        <div class="form-group col-md-2" >
                            <label class="control-label">Identificación</label>                                
                            <input class="form-control" type="text" name="identificacion" [(ngModel)]="model.admision.paciente.identificacion" (keydown.enter)="keytab($event)" required>                                                
                        </div>   
                        <div class="form-group col-md-3" >
                            <label class="control-label">Nombres</label>
                            <input class="form-control" type="text" name="nombres" [(ngModel)]="model.admision.paciente.nombres" disabled>                
                        </div>          
                        <div class="form-group col-md-3" >
                            <label class="control-label">Apellidos</label>
                            <input class="form-control" type="text" name="apellidos" [(ngModel)]="model.admision.paciente.apellidos" disabled>                
                        </div>                                                        
                        <div class="form-group col-md-3" >
                            <label class="control-label">Edad</label>                            
                            <input class="form-control" type="text" name="edad" [(ngModel)]="edad" disabled/>
                        </div>          
                    </div>      
                    <div class="row"> 
                        <div class="form-group col-md-3" >
                            <label class="control-label">Sexo</label>
                            <input class="form-control" type="text" name="sexo" [(ngModel)]="sexo" disabled/>                            
                        </div>                                                                                                                     
                        <div class="form-group col-md-3" >
                            <label class="control-label">Tipo de Entidad</label>
                            <input class="form-control" type="text" name="tipoEntidad" [(ngModel)]="tipoEntidad" disabled/>
                        </div>                                                    
                        <div class="form-group col-md-6" >
                            <label class="control-label">Aseguradora</label>
                            <input class="form-control" type="text" name="aseguradora" [(ngModel)]="aseguradora" disabled/>
                        </div>  
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Motivo de la consulta</h5>
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.motivoConsulta"></textarea>
                            </div>
                        </div>  
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Enfermedad actual</h5>                            
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.enfermedadActual"></textarea>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Antecedentes Personales</h5>                                
                            </div>                            
                        </div>                                                
                    </div>  
                    <h6>Patologicos</h6>
                    <div class="row">
                        <div class="form-group col-md-2" >
                            <label class="control-label">Tipo</label>    
                            <select class="form-control" [(ngModel)]="idtipoPatologia" name="idTipoPatologia">                                
                                <option value="PATOLOGICO">PATOLOGICO</option>
                                <option value="NO PATOLOGICO">NO PATOLOGICO</option>
                            </select>
                        </div>                                                                                                
                        <div class="form-group col-md-4" >
                            <label class="control-label">Nombre</label>
                            <input class="form-control" type="text" name="descripcion" [(ngModel)]="descripcion"/>
                        </div>                                                                                                                    
                        <div class="col-md-2" >
                            <label class="control-label">Tiempo de evolución</label>
                            <input class="form-control" type="text" name="tiempoEvolucion" [(ngModel)]="tiempoEvolucion"/>
                        </div>                                                                            
                        <div class="col-md-2">
                            <label class="control-label">Estado</label>
                            <select class="form-control" [(ngModel)]="estadoPatologico" name="estadoPatologico">                                
                                <option *ngFor="let item of estados" [ngValue]="item">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="addPatologico()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Añadir</button>
                        </div>
                    </div>    

                    <div class="row">                        
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Nombre</th>
                                        <th>Timpo de evolución</th>                                
                                        <th>Estado</th>                                                    
                                        <th>Eliminar</th>          
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let patologico of patologicos; let i = index">                  
                                        <td class="rowTd">{{patologico.tipo}}</td>    
                                        <td class="rowTd">{{patologico.descripcion}}</td>
                                        <td class="rowTd">{{patologico.tiempoEvolucion}}</td>
                                        <td class="rowTd">{{patologico.estado.nombre}}</td>                                                                        
                                        <td class="rowTd" >                                      
                                            <a class="btn float-left" (click)="deletePatologico(i)"><i class="fa fa-times"></i></a>                  
                                        </td>       
                                    </tr>            
                                </tbody>                            
                            </table>                              
                        </div>
                    </div>
                    <h6>Hospitalización</h6>
                    <div class="row">  
                        <div class="form-group col-md-2" >
                            <label class="control-label">Tipo</label>    
                            <select class="form-control" [(ngModel)]="idtipoAntecente" name="idtipoAntecente">                                
                                <option value="PSIQUIATRICA">PSIQUIATRICA</option>
                                <option value="NO PSIQUIATRICA">NO PSIQUIATRICA</option>
                            </select>
                        </div>                                                     
                        <div class="form-group col-md-3" >
                            <label class="control-label">Institución</label>
                            <input class="form-control" type="text" name="institucion" [(ngModel)]="institucion"/>
                        </div> 
                        <div class="form-group col-md-1" >
                            <label class="control-label">Número</label>
                            <input class="form-control" type="text" name="numero" [(ngModel)]="numero"/>
                        </div>                                                                                                                    
                        <div class="form-group col-md-2" >
                            <label class="control-label">Última</label>                            
                            <input class="form-control" placeholder="dd/mm/aaaa" [textMask]="{mask: mask}" [(ngModel)]="fechaUltimaHospitalizacion" type="text"/>
                        </div>                                                                                     
                        <div class="col-md-2">
                            <label class="control-label">Primera vez?</label>
                            <select class="form-control" [(ngModel)]="primeraHospitalizacion" name="primeraHospitalizacion">                                
                                <option *ngFor="let item of opciones" [ngValue]="item">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="addAntecedente()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Añadir</button>
                        </div>
                    </div>    

                    <div class="row">                        
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Institución</th>
                                        <th>Número</th>
                                        <th>Fecha última hospitalización</th>                                
                                        <th>Primera hospitalización?</th>                                                    
                                        <th>Eliminar</th>          
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let antecedente of antecedentes; let i = index">                  
                                        <td class="rowTd">{{antecedente.tipo}}</td>        
                                        <td class="rowTd">{{antecedente.institucion}}</td>    
                                        <td class="rowTd">{{antecedente.numero}}</td>
                                        <td class="rowTd">{{antecedente.fechaUltimaHospitalizacion | date: 'dd/MM/yyyy'}}</td>
                                        <td class="rowTd">{{antecedente.esLaPrimeraHospitalizacion.nombre}}</td>                                                                        
                                        <td class="rowTd" >                                      
                                            <a class="btn float-left" (click)="deleteAntecedente(i)"><i class="fa fa-times"></i></a>                  
                                        </td>       
                                    </tr>            
                                </tbody>                            
                            </table>                              
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Antecedentes Familiares</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Examen Físico</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Impresión Diagnostica</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-6" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Analisis y Manejo</h5>
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.analisisYManejo"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">                        
                        <div class="form-group col-md-4 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="guardar()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Guardar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>      
    </div>
</main>