<div class="app-title">
  <div>
    <h1><i class="fa fa-lock"></i> Roles</h1>
    <p>Módulo de gestión de Roles, Aquí usted podrá crear, editar y eliminar Roles</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a [routerLink]="['/roles']">Roles</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">Componente</div>
    </div>
  </div>
</div>