<aside class="app-sidebar">  
  <ul class="app-menu"> 
    <li class="treeview" [class.is-expanded]="showProcesos === 'procesos'" permission="procesos">
      <a class="app-menu__item" (click)="expandProcesos('procesos')" [routerLink]="" data-toggle="treeview">
        <i class="app-menu__icon fa fa-edit"></i>
        <span class="app-menu__label">Procesos</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu" >  
          <li><a class="treeview-item" [routerLink]="['/layout/procesos/pacientes/consultar']" permission="pacientes"><i class="icon fa fa-circle-o"></i> Pacientes</a></li>                  
          <li><a class="treeview-item" [routerLink]="['/layout/procesos/admisiones/consultar']" permission="admisiones"><i class="icon fa fa-circle-o"></i> Admisiones</a></li>                  
          <li><a class="treeview-item" [routerLink]="['/layout/procesos/historias/consultar']" permission="historias"><i class="icon fa fa-circle-o"></i> Historias</a></li>                  
      </ul>      
    </li>   
    <li class="treeview" [class.is-expanded]="showListas === 'listas'" permission="listas">
      <a class="app-menu__item" (click)="expandListas('listas')" [routerLink]="" data-toggle="treeview">
        <i class="app-menu__icon fa fa-th-list"></i>
        <span class="app-menu__label">Listas</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/opciones']" permission="opciones"><i class="icon fa fa-circle-o"></i> Opciones</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/sedes']" permission="sedes"><i class="icon fa fa-circle-o"></i>Sedes</a></li>                 
        <li><a class="treeview-item" [routerLink]="['/layout/listas/tipos-documentos']" permission="tipos documentos"><i class="icon fa fa-circle-o"></i>Tipos de Documentos</a></li>                
        <li><a class="treeview-item" [routerLink]="['/layout/listas/cie10s']" permission="cie10s"><i class="icon fa fa-circle-o"></i>Cie 10</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/estados-civiles']" permission="estados civiles"><i class="icon fa fa-circle-o"></i>Estados Civiles</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/camas']" permission="camas"><i class="icon fa fa-circle-o"></i>Camas</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/servicios']" permission="servicios"><i class="icon fa fa-circle-o"></i>Servicios</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/alteraciones']" permission="alteraciones"><i class="icon fa fa-circle-o"></i>Alteraciones</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/patrones']" permission="patrones"><i class="icon fa fa-circle-o"></i>Patrones</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/tonos-voz']" permission="tonos voz"><i class="icon fa fa-circle-o"></i>Tonos de Voz</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/se-muestra1']" permission="se muestra1"><i class="icon fa fa-circle-o"></i>Se Muestra 1</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/se-muestra2']" permission="se muestra2"><i class="icon fa fa-circle-o"></i>Se Muestra 2</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/formas']" permission="forma"><i class="icon fa fa-circle-o"></i>Formas</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/cursos']" permission="curso"><i class="icon fa fa-circle-o"></i>Cursos</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/memoria']" permission="memoria"><i class="icon fa fa-circle-o"></i>Memoria</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/memoria2']" permission="memoria2"><i class="icon fa fa-circle-o"></i>Memoria 2</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/movilidad']" permission="movilidad"><i class="icon fa fa-circle-o"></i>Movilidad</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/alucinaciones']" permission="alucinacion"><i class="icon fa fa-circle-o"></i>Alucinaciones</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/fuerza-muscular']" permission="fuerza muscular"><i class="icon fa fa-circle-o"></i>Fuerza Muscular</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/marcha']" permission="marcha"><i class="icon fa fa-circle-o"></i>Marchas</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/humor']" permission="humor"><i class="icon fa fa-circle-o"></i>Humor</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/expresion-facial1']" permission="expresion facial1"><i class="icon fa fa-circle-o"></i>Expresión Facial 1</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/expresion-facial2']" permission="expresion facial2"><i class="icon fa fa-circle-o"></i>Expresión Facial 2</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/expresion-facial3']" permission="expresion facial3"><i class="icon fa fa-circle-o"></i>Expresión Facial 3</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/alimentacion']" permission="alimentacion"><i class="icon fa fa-circle-o"></i>Alimentación</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/apariencias']" permission="apariencia"><i class="icon fa fa-circle-o"></i>Apariencia</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/aseguradoras']" permission="aseguradora"><i class="icon fa fa-circle-o"></i>Aseguradora</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/asfixias']" permission="asfixia"><i class="icon fa fa-circle-o"></i>Asfixias</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/comprensibles']" permission="comprensible"><i class="icon fa fa-circle-o"></i>Comprensible</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/conciencias']" permission="conciencia"><i class="icon fa fa-circle-o"></i>Conciencia</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/escolaridades']" permission="escolaridad"><i class="icon fa fa-circle-o"></i>Escolaridad</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/estados']" permission="estado"><i class="icon fa fa-circle-o"></i>Estados</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/estados-conciencia']" permission="estado conciencia"><i class="icon fa fa-circle-o"></i>Estados Conciencias</a></li>    
        <li><a class="treeview-item" [routerLink]="['/layout/listas/atenciones']" permission="atencion"><i class="icon fa fa-circle-o"></i>Atenciones</a></li>
        <li><a class="treeview-item" [routerLink]="['/layout/listas/equipos']" permission="equipo"><i class="icon fa fa-circle-o"></i>Equipos</a></li>
        <li><a class="treeview-item" [routerLink]="['/layout/listas/gestas']" permission="gesta"><i class="icon fa fa-circle-o"></i>Gestas</a></li>
        <li><a class="treeview-item" [routerLink]="['/layout/listas/inteligencias']" permission="inteligencia"><i class="icon fa fa-circle-o"></i>Inteligencias</a></li>
        <li><a class="treeview-item" [routerLink]="['/layout/listas/introspecciones']" permission="introspeccion"><i class="icon fa fa-circle-o"></i>Introspeccion</a></li>      
        <li><a class="treeview-item" [routerLink]="['/layout/listas/medicamentos']" permission="medicamento"><i class="icon fa fa-circle-o"></i>Medicamentos</a></li>
        <li><a class="treeview-item" [routerLink]="['/layout/listas/organos']" permission="organo"><i class="icon fa fa-circle-o"></i>Organos</a></li>
        <li><a class="treeview-item" [routerLink]="['/layout/listas/parentescos']" permission="parentesco"><i class="icon fa fa-circle-o"></i>Parentesco</a></li>
        <li><a class="treeview-item" [routerLink]="['/layout/listas/sexos']" permission="sexo"><i class="icon fa fa-circle-o"></i>Sexo</a></li>
        <li><a class="treeview-item" [routerLink]="['/layout/listas/tiempos-usos']" permission="tiempo de uso"><i class="icon fa fa-circle-o"></i>Tiempos de Usos</a></li>
        <li><a class="treeview-item" [routerLink]="['/layout/listas/tipos-entidades']" permission="tipo entidad"><i class="icon fa fa-circle-o"></i>Tipos de Entidades</a></li>
        <li><a class="treeview-item" [routerLink]="['/layout/listas/vias-ingresos']" permission="via ingreso"><i class="icon fa fa-circle-o"></i>Vias de Ingresos</a></li>      
        <li><a class="treeview-item" [routerLink]="['/layout/listas/regimenes']" permission="regimen"><i class="icon fa fa-circle-o"></i>Regimen</a></li>      
      </ul>
    </li>   
    <li class="treeview" [class.is-expanded]="showSeguridad === 'seguridad'" permission="seguridad">
        <a class="app-menu__item" (click)="expandSeguridad('seguridad')" [routerLink]="" data-toggle="treeview">
          <i class="app-menu__icon fa fa-lock"></i>
          <span class="app-menu__label">Seguridad</span>
          <i class="treeview-indicator fa fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" >
          <li><a class="treeview-item" [routerLink]="['/layout/seguridad/roles']" permission="roles"><i class="icon fa fa-circle-o"></i> Roles</a></li>    
          <li><a class="treeview-item" [routerLink]="['/layout/seguridad/roles/asignar-permisos']" permission="asignar permisos"><i class="icon fa fa-circle-o"></i> Asignar Permisos</a></li>    
          <li><a class="treeview-item" [routerLink]="['/layout/seguridad/usuarios/consultar']" permission="usuarios"><i class="icon fa fa-circle-o"></i> Usuarios</a></li>            
          <li><a class="treeview-item" [routerLink]="['/layout/seguridad/usuarios/restablecer-password']" permission="restablecer clave"><i class="icon fa fa-circle-o"></i> Restablecer Clave</a></li>    
        </ul>      
      </li> 
  </ul>
</aside>