<aside class="app-sidebar">  
  <ul class="app-menu">    
    <li class="treeview" [class.is-expanded]="showSeguridad === 'seguridad'" permission="seguridad">
      <a class="app-menu__item" (click)="expandSeguridad('seguridad')" [routerLink]="" data-toggle="treeview">
        <i class="app-menu__icon fa fa-lock"></i>
        <span class="app-menu__label">Seguridad</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu" permission="roles">
        <li><a class="treeview-item" [routerLink]="['/layout/seguridad/roles']"><i class="icon fa fa-circle-o"></i> Roles</a></li>    
      </ul>
    </li>
    <li class="treeview" [class.is-expanded]="showListas === 'listas'" permission="listas">
      <a class="app-menu__item" (click)="expandListas('listas')" [routerLink]="" data-toggle="treeview">
        <i class="app-menu__icon fa fa-th-list"></i>
        <span class="app-menu__label">Listas</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu" permission="opciones">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/opciones']"><i class="icon fa fa-circle-o"></i> Opciones</a></li>    
      </ul>
      <ul class="treeview-menu" permission="sedes">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/sedes']"><i class="icon fa fa-circle-o"></i>Sedes</a></li>    
      </ul>
      <ul class="treeview-menu" permission="tipos documentos">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/tipos-documentos']"><i class="icon fa fa-circle-o"></i>Tipos de Documentos</a></li>    
      </ul>
      <ul class="treeview-menu" permission="cie10s">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/cie10s']"><i class="icon fa fa-circle-o"></i>Cie 10</a></li>    
      </ul>
      <ul class="treeview-menu" permission="estados civiles">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/estados-civiles']"><i class="icon fa fa-circle-o"></i>Estados Civiles</a></li>    
      </ul>
      <ul class="treeview-menu" permission="camas">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/camas']"><i class="icon fa fa-circle-o"></i>Camas</a></li>    
      </ul>
      <ul class="treeview-menu" permission="servicios">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/servicios']"><i class="icon fa fa-circle-o"></i>Servicios</a></li>    
      </ul>
      <ul class="treeview-menu" permission="alteraciones">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/alteraciones']"><i class="icon fa fa-circle-o"></i>Alteraciones</a></li>    
      </ul>
      <ul class="treeview-menu" permission="patrones">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/patrones']"><i class="icon fa fa-circle-o"></i>Patrones</a></li>    
      </ul>
      <ul class="treeview-menu" permission="tonos voz">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/tonos-voz']"><i class="icon fa fa-circle-o"></i>Tonos de Voz</a></li>    
      </ul>
      <ul class="treeview-menu" permission="se muestra1">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/se-muestra1']"><i class="icon fa fa-circle-o"></i>Se Muestra 1</a></li>    
      </ul>
      <ul class="treeview-menu" permission="se muestra2">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/se-muestra2']"><i class="icon fa fa-circle-o"></i>Se Muestra 2</a></li>    
      </ul>
      <ul class="treeview-menu" permission="forma">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/formas']"><i class="icon fa fa-circle-o"></i>Formas</a></li>    
      </ul>
      <ul class="treeview-menu" permission="curso">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/cursos']"><i class="icon fa fa-circle-o"></i>Cursos</a></li>    
      </ul>
      <ul class="treeview-menu" permission="memoria">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/memoria']"><i class="icon fa fa-circle-o"></i>Memoria</a></li>    
      </ul>
      <ul class="treeview-menu" permission="alucinacion">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/alucinaciones']"><i class="icon fa fa-circle-o"></i>Alucinaciones</a></li>    
      </ul>
      <ul class="treeview-menu" permission="fuerza muscular">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/fuerza-muscular']"><i class="icon fa fa-circle-o"></i>Fuerza Muscular</a></li>    
      </ul>
      <ul class="treeview-menu" permission="marcha">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/marcha']"><i class="icon fa fa-circle-o"></i>Marchas</a></li>    
      </ul>
      <ul class="treeview-menu" permission="humor">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/humor']"><i class="icon fa fa-circle-o"></i>Humor</a></li>    
      </ul>
      <ul class="treeview-menu" permission="expresion facial1">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/expresion-facial1']"><i class="icon fa fa-circle-o"></i>Expresión Facial 1</a></li>    
      </ul>
      <ul class="treeview-menu" permission="expresion facial2">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/expresion-facial2']"><i class="icon fa fa-circle-o"></i>Expresión Facial 2</a></li>    
      </ul>
      <ul class="treeview-menu" permission="alimentacion">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/alimentacion']"><i class="icon fa fa-circle-o"></i>Alimentación</a></li>    
      </ul>
      <ul class="treeview-menu" permission="apariencia">
        <li><a class="treeview-item" [routerLink]="['/layout/listas/apariencias']"><i class="icon fa fa-circle-o"></i>Apariencia</a></li>    
      </ul>
    </li>    
  </ul>
</aside>