<main class="app-content" [ngClass]="{ 'tile loading': loading }">
    <div class="overlay" *ngIf="loading">
        <div class="m-loader mr-4">
            <svg class="m-circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10" />
            </svg>
        </div>
        <h3 class="l-text">Loading</h3>
    </div>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> Cuidades de enfermería</h1>            
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a [routerLink]="['/layout/procesos/historias/cuidados-de-enfermeria']">Cuidados de enfermería</a></li>
        </ul>
    </div>
    <div class="row" *ngIf="areErrors">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">
                    <button class="close" type="button" data-dismiss="alert" (click)="clearAndcloseErrors()">×</button>
                    <div *ngFor="let e of errores">
                        <strong>{{e.message}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row">                        
                        <div class="form-group col-md-6" >
                            <label class="control-label">Busqueda Paciente</label>                            
                            <ng-template #rtPaciente let-r="result" let-t="term">
                                {{r.nombres}} {{r.apellidos}}
                            </ng-template>
                            <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" 
                                    [(ngModel)]="pacienteSeleccionado" [ngbTypeahead]="searchPaciente" placeholder="Nombre/Apellido Paciente" 
                                    [resultTemplate]="rtPaciente" [inputFormatter]="formatterPaciente"
                                    (selectItem)="setPaciente($event)"/>
                            <span *ngIf="searching">Buscando...</span>
                            <div class="invalid-feedback" *ngIf="searchFailedPaciente">No se encontró ningún paciente.</div>                                                     
                        </div>
                    </div>  
                    <div class="row">
                        <div class="form-group col-md-1">
                            <label class="control-label">Tipo</label>
                            <input class="form-control" type="text" name="tipoDocumento" [(ngModel)]="tipoDocumento"
                                disabled>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label">Identificación</label>
                            <input class="form-control" type="text" name="identificacion" [(ngModel)]="model.historia.admision.paciente.identificacion"
                                (keydown.enter)="keytab($event)" required disabled>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Nombres</label>
                            <input class="form-control" type="text" name="nombres" [(ngModel)]="model.historia.admision.paciente.nombres"
                                disabled>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Apellidos</label>
                            <input class="form-control" type="text" name="apellidos" [(ngModel)]="model.historia.admision.paciente.apellidos"
                                disabled>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Edad</label>
                            <input class="form-control" type="text" name="edad" [(ngModel)]="edad" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Sexo</label>
                            <input class="form-control" type="text" name="sexo" [(ngModel)]="sexo" disabled />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Tipo de Entidad</label>
                            <input class="form-control" type="text" name="tipoEntidad" [(ngModel)]="tipoEntidad"
                                disabled />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Aseguradora</label>
                            <input class="form-control" type="text" name="aseguradora" [(ngModel)]="aseguradora" disabled />
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="form-group col-md-12" >
                            <label class="control-label">DX</label>                            
                            <input class="form-control" type="text" name="dx" [(ngModel)]="dx" disabled />
                        </div>        
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Fecha</label>
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="fecha" [(ngModel)]="fecha"
                                    ngbDatepicker #fec="ngbDatepicker">
                                <button class="input-group-addon" (click)="fec.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>                                                    
                    </div>                                   
                    <div class="row">                        
                        <div class="form-group col-md-4" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Hallazgos</h5>
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.hallazgos"></textarea>
                            </div>
                        </div>                        
                        <div class="form-group col-md-4" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Acciones</h5>
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.acciones"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-4" >
                            <div class="page-header">
                                <h5 class="mb-3 line-head" id="typography">Evaluación</h5>
                                <textarea class="form-control" type="textarea" rows="3" cols="50" [(ngModel)]="model.evaluacion"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12" >
                            <label class="control-label">DX Enfermeria</label>                            
                            <ng-template #rt let-r="result" let-t="term">
                                ({{r.codigo}}) {{r.nombre}}
                            </ng-template>
                            <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" 
                                    [(ngModel)]="dxEnfermeria" [ngbTypeahead]="search" placeholder="Cie10" 
                                    [resultTemplate]="rt" [inputFormatter]="formatter"/>
                            <span *ngIf="searching">Buscando...</span>
                            <div class="invalid-feedback" *ngIf="searchFailed">No se encontró ningún Cie10.</div>                                                     
                        </div>        
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="agregar()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Guardar</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">                   
                    <table class="table table-hover table-bordered" 
                        [mfData]="allCuidadosDeEnfermeria" [mfRowsOnPage]="rowsOnPage" #mf="mfDataTable">
                        <thead>
                            <tr>
                                <th>Fecha</th>                                                 
                                <th>Hallazgos</th>                                                 
                                <th>DX Enfermería</th>                                                 
                                <th>Acciones</th>                                              
                                <th>Evaluación</th>                                              
                            </tr>
                        </thead>
                        <tbody *ngFor="let sv of mf.data">
                            <tr>                  
                                <td class="rowTd">{{sv.fecha | date: 'dd/MM/yyyy'}}</td>                                    
                                <td class="rowTd">{{sv.hallazgos}}</td>                                    
                                <td class="rowTd">({{sv.dxEnfermeria.codigo}}) {{sv.dxEnfermeria.nombre}}</td>                                    
                                <td class="rowTd">{{sv.acciones}}</td>                                    
                                <td class="rowTd">{{sv.evaluacion}}</td>                                                                                                    </tr>            
                        </tbody>   
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,20,50,100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>                   
                    </table>  
                </div>
            </div>
        </div>
    </div>

</main>