<aside class="app-sidebar">  
  <ul class="app-menu">    
    <li class="treeview" [class.is-expanded]="showSeguridad === 'seguridad'" permission="seguridad">
      <a class="app-menu__item" (click)="expandSeguridad('seguridad')" [routerLink]="" data-toggle="treeview">
        <i class="app-menu__icon fa fa-lock"></i>
        <span class="app-menu__label">Seguridad</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu" permission="roles">
        <li><a class="treeview-item" [routerLink]="['/layout/roles']"><i class="icon fa fa-circle-o"></i> Roles</a></li>    
      </ul>
    </li>
    <li class="treeview" [class.is-expanded]="showListas === 'listas'" permission="listas">
      <a class="app-menu__item" (click)="expandListas('listas')" [routerLink]="" data-toggle="treeview">
        <i class="app-menu__icon fa fa-th-list"></i>
        <span class="app-menu__label">Listas</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu" permission="opciones">
        <li><a class="treeview-item" [routerLink]="['/layout/opciones']"><i class="icon fa fa-circle-o"></i> Opciones</a></li>    
      </ul>
    </li>    
  </ul>
</aside>
