<main class="app-content" [ngClass]="{ 'tile loading': loading }"> 
    <div class="overlay" *ngIf="loading">
        <div class="m-loader mr-4">
            <svg class="m-circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
            </svg>
        </div>
        <h3 class="l-text">Loading</h3>
    </div>
    <div class="app-title">     
      <div>
        <h1><i class="fa fa-lock"></i> Asignar Permisos</h1>      
        <p>Módulo de asignación de permisos, Aquí usted podrá asignar permisos a roles</p>  
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a [routerLink]="['/layout/seguridad/roles/asignar-permisos']">Asignar Permisos</a></li>
      </ul>
    </div>
    <div class="row" *ngIf="areErrors">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">    
                    <button class="close" type="button" data-dismiss="alert" (click)="clearAndcloseErrors()">×</button>    
                    <div *ngFor="let e of errores">
                        <strong>{{e.message}}</strong>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">  
        <div class="col-md-12">       
            <div class="tile">              
                <div class="tile-body">
                    <form class="row">                                      
                    </form>
                </div>
            </div>
        </div>      
    </div>
</main>