<main class="app-content" [ngClass]="{ 'tile loading': loading }"> 
    <div class="overlay" *ngIf="loading">
        <div class="m-loader mr-4">
            <svg class="m-circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
            </svg>
        </div>
        <h3 class="l-text">Loading</h3>
    </div>
    <div class="app-title">     
      <div>
        <h1><i class="fa fa-user fa-lg"></i> Editar Paciente</h1>        
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a [routerLink]="['/layout/procesos/pacientes/editar']">Editar Paciente</a></li>
      </ul>
    </div>
    <div class="row" *ngIf="areErrors">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">    
                    <button class="close" type="button" data-dismiss="alert" (click)="clearAndcloseErrors()">×</button>    
                    <div *ngFor="let e of errores">
                        <strong>{{e.message}}</strong>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">  
        <div class="col-md-12">       
            <div class="tile">              
                <div class="tile-body">
                    <div class="row">     
                        <div class="form-group col-md-1" >
                            <label class="control-label">Tipo</label>                                
                            <select class="form-control tipo-documento" [(ngModel)]="idTipoDocumento" name="tipoDocumento">                                
                                <option *ngFor="let item of tiposDocumentos" [value]="item.idTipoDocumento">{{item.nombre}}</option>
                            </select>                            
                        </div>                                                                        
                        <div class="form-group col-md-2" >
                            <label class="control-label">Identificación</label>                                
                            <input class="form-control" type="text" name="identificacion" [(ngModel)]="model.identificacion" #identificacion="ngModel" required>                                                
                        </div>   
                        <div class="form-group col-md-3" >
                            <label class="control-label">Nombres</label>
                            <input class="form-control" type="text" name="nombres" [(ngModel)]="model.nombres" #nombres="ngModel" required>                
                        </div>          
                        <div class="form-group col-md-3" >
                            <label class="control-label">Apellidos</label>
                            <input class="form-control" type="text" name="apellidos" [(ngModel)]="model.apellidos" #apellidos="ngModel" required>                
                        </div>     
                        <div class="form-group col-md-3" >
                            <label class="control-label">Fecha de Nacimiento</label>                            
                            <input class="form-control" placeholder="dd/mm/aaaa" [textMask]="{mask: mask}" [(ngModel)]="fechaDeNacimiento" type="text"/>
                        </div>                                                      
                    </div>
                    <div class="row"> 
                        <div class="form-group col-md-3" >
                            <label class="control-label">Sexo</label>
                            <select class="form-control" [(ngModel)]="idSexo" name="sexo">                                
                                <option *ngFor="let item of sexos" [value]="item.idSexo">{{item.nombre}}</option>
                            </select>
                        </div>  
                        <div class="form-group col-md-3" >
                            <label class="control-label">Ciudad</label>                                
                            <input class="form-control" type="text" name="ocupacion" [(ngModel)]="model.ciudad" #ciudad="ngModel" required>                                                
                        </div>                                                                                                                            
                        <div class="form-group col-md-3" >
                            <label class="control-label">Dirección</label>
                            <input class="form-control" type="text" name="direccion" [(ngModel)]="model.direccion" #direccion="ngModel" required>                
                        </div>          
                        <div class="form-group col-md-3" >
                            <label class="control-label">Telefono</label>
                            <input class="form-control" type="text" name="telefono" [(ngModel)]="model.telefono" #telefono="ngModel" required>                
                        </div>                                                                            
                    </div>
                    <div class="row">                     
                        <div class="form-group col-md-3" >
                            <label class="control-label">Celular</label>
                            <input class="form-control" type="text" name="celular" [(ngModel)]="model.celular" #celular="ngModel" required>                
                        </div>                            
                        <div class="form-group col-md-3" >
                            <label class="control-label">Email</label>                                
                            <input class="form-control" type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required>                                                
                        </div>                                                  
                        <div class="form-group col-md-3" >
                            <label class="control-label">Ocupación</label>                                
                            <input class="form-control" type="text" name="ocupacion" [(ngModel)]="model.ocupacion" #ocupacion="ngModel" required>                                                
                        </div>                                         
                        <div class="form-group col-md-3" >
                            <label class="control-label">Estado civil</label>
                            <select class="form-control" [(ngModel)]="idEstadoCivil" name="estadoCivil">                                
                                <option *ngFor="let item of estadosCiviles" [value]="item.idEstadoCivil">{{item.nombre}}</option>
                            </select>
                        </div>    
                        <div class="form-group col-md-3" >
                            <label class="control-label">Tipo de Entidad</label>
                            <select class="form-control" [(ngModel)]="idTipoEntidad" name="tipoEntidad">                                
                                <option *ngFor="let item of tipoEntidades" [value]="item.idTipoEntidad">{{item.nombre}}</option>
                            </select>
                        </div>                                                                                                                              
                        <div class="form-group col-md-3" >
                            <label class="control-label">Aseguradora</label>
                            <select class="form-control" [(ngModel)]="idAseguradora" name="aseguradora">                                
                                <option *ngFor="let item of aseguradoras" [value]="item.idAseguradora">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3" >
                            <label class="control-label">Régimen</label>
                            <select class="form-control" [(ngModel)]="idRegimen" name="regimen">                                
                                <option *ngFor="let item of regimenes" [value]="item.idRegimen">{{item.nombre}}</option>
                            </select>
                        </div>                                                                                                                              
                        <div class="form-group col-md-3" >
                            <label class="control-label">Escolaridad</label>
                            <select class="form-control" [(ngModel)]="idEscolaridad" name="escolaridad">                                
                                <option *ngFor="let item of escolaridades" [value]="item.idEscolaridad">{{item.nombre}}</option>
                            </select>
                        </div>                                                
                    </div>    
                    <div class="row">
                        <div class="form-group col-md-4 align-self-end">
                            <button class="btn btn-primary" type="button" (click)="guardar()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>

    <div class="row">  
        <div class="col-md-12">             
            <div class="tile"> 
                <div class="tile-body">
                    <div class="row">
                        <div class="form-group col-md-4" >
                            <label class="control-label">Reportes</label>               
                        </div>          
                    </div>
                    <table class="table table-hover table-bordered" 
                        [mfData]="admisiones" [mfRowsOnPage]="rowsOnPage" #mf="mfDataTable">
                        <thead>
                            <tr>                            
                                <th>Fecha de Ingreso</th>
                                <th>Fecha de Cierre</th>
                                <th>Estado</th>
                                <th>Evoluciones</th>                                          
                                <th>Ordenes medicas</th>                                          
                                <th>Epicrisis</th>
                                <th>Notas</th>                                          
                            </tr>
                        </thead>
                        <tbody *ngFor="let admision of mf.data">
                            <tr>
                                <td class="rowTd">{{admision.fechaDeIngreso | date: 'dd/MM/yyyy'}}</td>                  
                                <td class="rowTd">{{admision.fechaDeCierre | date: 'dd/MM/yyyy'}}</td>
                                <td class="rowTd">{{admision.estado}}</td>                            
                                <td class="rowTd">                                      
                                    <button class="btn btn-primary" type="button" (click)="getPdfEvoluciones(admision.idAdmision)">
                                        <i class="fa fa-fw fa-lg fa-file-text-o"></i>Reporte
                                    </button>                                    
                                </td> 
                                <td class="rowTd">                                      
                                    <button class="btn btn-primary" type="button" (click)="getPdfOrdenesMedicas(admision.idAdmision)">
                                        <i class="fa fa-fw fa-lg fa-file-text-o"></i>Reporte
                                    </button>                                    
                                </td> 
                                <td class="rowTd">                                      
                                    <button class="btn btn-primary" type="button" (click)="getPdfEpicrisis(admision.idAdmision)">
                                        <i class="fa fa-fw fa-lg fa-file-text-o"></i>Reporte
                                    </button>                                    
                                </td>  
                                <td class="rowTd">                                      
                                    <button class="btn btn-primary" type="button" (click)="getPdfNotas(admision.idAdmision)">
                                        <i class="fa fa-fw fa-lg fa-file-text-o"></i>Reporte
                                    </button>                                    
                                </td>       
                            </tr>            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,20,50,100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>      
                </div>
            </div>
        </div>      
    </div>
</main>